<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos | Dulcis Vita</title>
    <link rel="stylesheet" href="../static/styles/productos.css">
    <link rel="icon" type="image" href="../static/img/chocolates.png" />
</head>
<body>
    <header>
        <div class="container-logoTitulo">
            <label for="btn-menu"><img src="../static/img/menu.png" alt="Icon Menu" class="iconMenu"></label>
            <img src="../static/img/chocolates.png" alt="Foto logo empresa" class="choco">
            <a href="#">Dulcis Vita</a>
        </div>
        <div class="container-button-list">
            <a href="#" class="button-list inicio">Inicio</a>
            <a href="#" class="button-list productos">Productos</a>
            <a href="#" class="button-list servicios">Servicios</a>
            <a href="#" class="button-list galeriabutton">Galería</a>
            <a href="#contactanos" class="button-list">Contáctanos</a>
        </div>
    </header>
    <input type="checkbox" id="btn-menu">
    <div class="container-menu">
        <div class="cont-menu">
            <nav>
                <a href="#" class="button-list inicio">- Inicio</a>
                <a href="#" class="button-list productos">- Productos</a>
                <a href="#" class="button-list servicios">- Servicios</a>
                <a href="#" class="button-list galeriabutton">- Galería</a>
                <a href="#contactanos" class="button-list">- Contáctanos</a>
            </nav>
            <label for="" class="label-menu">Menú</label>
            <label for="btn-menu" class="equis"><img src="../static/img/equis.png" alt="Equis"></label>
        </div>
    </div>
    <main>
        <h1>Productos</h1>
        <div class="grid-products">
            <div class="card">
                <div class="card-body">
                    <img src="../static/img/chocobarraleche.png" alt="Barra de Chocolate Con leche">
                    <h5 class="card-title">Chocolate con Leche</h5>
                    <p class="card-text">Suave y cremoso, con el equilibrio perfecto entre dulzura y cacao.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <img src="../static/img/chocooscuro.jpeg" alt="Chocolate oscuro">
                    <h5 class="card-title">Chocolate Oscuro</h5>
                    <p class="card-text">Intenso y con notas profundas de cacao puro, ideal para amantes del chocolate fuerte.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <img src="../static/img/chocoblanco.png" alt="Barra de Chocolate Blanco">
                    <h5 class="card-title">Chocolate Blanco</h5>
                    <p class="card-text">Dulce y delicado, con un toque cremoso que se derrite en la boca.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <img src="../static/img/chocoliquido.jpeg" alt="Chocolate Liquido">
                    <h5 class="card-title">Chocolate Líquido</h5>
                    <p class="card-text">Perfecto para postres, fondues o para disfrutar en una bebida caliente.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <img src="../static/img/bombonesP.png" alt="Bombones">
                    <h5 class="card-title">Bombones</h5>
                    <p class="card-text">Pequeñas joyas de chocolate relleno, con una explosión de sabor en cada bocado.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <img src="../static/img/trufas.png" alt="Trufas">
                    <h5 class="card-title">Trufas</h5>
                    <p class="card-text">Delicadas y suaves, con una textura que se deshace al contacto.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <img src="../static/img/chocopolvo.png" alt="Chocolate en Polvo">
                    <h5 class="card-title">Chocolate en Polvo</h5>
                    <p class="card-text">Versátil y listo para transformar recetas, bebidas y postres.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <img src="../static/img/brownies.jpeg" alt="Brownies">
                    <h5 class="card-title">Brownies</h5>
                    <p class="card-text">Húmedos y esponjosos, con un corazón de chocolate irresistible.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <img src="../static/img/mantecacacao.png" alt="Manteca de Cacao">
                    <h5 class="card-title">Manteca de Cacao</h5>
                    <p class="card-text">Base esencial para repostería y productos de cuidado de la piel.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <img src="../static/img/licorcacao.jpeg" alt="Licor de Cacao">
                    <h5 class="card-title">Licor de Cacao</h5>
                    <p class="card-text">Rico y aromático, ideal para postres o cócteles sofisticados.</p>
                </div>
            </div>
        </div>
    </main>
    <footer id="contactanos">
        <div class="container-footer">
            <div class="contactos">
                <div class="redes">
                    <h3>Contáctanos</h3>
                    <div class="redes-img">
                        <a href="#"><img src="../static/img/face.png" alt="Facebook"></a>
                        <a href="#"><img src="../static/img/insta.png" alt="Instagram"></a>
                        <a href="#"><img src="../static/img/x.png" alt="X"></a>
                    </div>
                </div>
                <div class="container-email-telf">
                    <div class="telf">
                        <h4>Número de Contacto: </h4>
                        <label>+58 412-1249526</label>
                    </div>
                    <div class="email">
                        <h4>Correo: </h4>
                        <label>josedcor1612@gmail.com</label>
                    </div>
                </div>
            </div>
            <h4 class="copy">Copyright ® 2025, Corzo</h4>            
        </div>
    </footer>
    <script src="../static/js/functions.js"></script>
</body>
</html>