@font-face {
    font-family: Nunito;
    src: url('../fonts/Nunito-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Dancing;
    src: url('../fonts/DancingScript-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scrollbar-width: thin;
    scroll-behavior: smooth;
    scrollbar-color: #583a29 #fffbf2;
}

body {
    background-color: #fffbf2;
    font-family: Nunito;
    overflow-x: hidden;
}

header {
    height: 10vh;
    width: 100vw;
    background: rgba(88, 58, 41, 0.8);
    backdrop-filter: blur(3px);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    z-index: 100;
}

.iconMenu{
    display: none;
    width: 30px;
    height: 30px;
    margin-right: 15px;
    cursor: pointer;
}

#btn-menu{
    display: none;
}

.container-menu{
    position: fixed;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
    z-index: 200;
}

#btn-menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
    overflow: hidden;
}

.cont-menu{
    width: 100%;
    max-width: 250px;
    background: #583a29;
    height: 100vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

#btn-menu:checked ~ .container-menu .cont-menu{
    transform: translateX(0%);
}

.cont-menu nav{
    transform: translateY(15%);
}

.cont-menu nav a{
    display: block;
    padding: 20px;
    color: #fff;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}

.cont-menu nav a:hover{
    border-left: 5px solid #c7c7c7;
    background-color: rgba(128, 128, 128, 0.5);
    transform: translate(5px, -5px);
}

.equis{
    position: absolute;
    right: 10px;
    top: 15px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}

.equis img{
    width: 15px;
    height: 15px;
}

.equis:hover{
    transition: all .3s ease;
    transform: scale(1.5);
}

.label-menu{
    color: #fff;
    font-size: 25px;
    position: absolute;
    left: 34%;
    top: 2%;
}

.container-logoTitulo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8vw;
    color: #fffbf2;
}

.container-logoTitulo .choco {
    width: 55px;
    height: 45px;
    margin-right: 15px;
    filter: drop-shadow(5px 5px 10px rgba(255, 255, 255, 0.3));
}

.container-logoTitulo a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fffbf2;
    font-family: Dancing;
    font-size: 35px;
}

.container-button-list {
    margin-right: 8vw;
}

.button-list {
    text-decoration: none;
    color: #fffbf2;
    margin: 10px;
    padding: 10px;
    border-radius: 25px;
    transition: all ease 0.5s;
    font-size: 15px;
}

.button-list:hover {
    background-color: rgba(128, 128, 128, 0.5);
}

h1{
    font-family: Dancing;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.row{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.group{
    display: flex;
    flex-direction: column;
}

.group p{
    width: 350px;
    padding: 15px;
}

.card{
    width: auto;
    margin: 25px 25px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 25px;
    background: rgba(128, 128, 128, 0.3);
    backdrop-filter: blur(5px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    transition: all ease-in-out 0.5s;
}

.card:hover{
    background: rgba(128, 128, 128, 0.1);
    transform: scale(1.03);
}

.card-body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-body h5{
    font-size: 18px;
    margin: 10px 0 10px;
}

.card-body img{
    border-radius: 25px;
    width: 200px;
    height: 150px;
    margin: 15px;
}

footer{
    margin-top: 10vh;
    display: flex;
    justify-content: space-evenly;
    height: 26vh;
    background-color: #1b1b1b;
    color: #fffbf2;
    box-shadow: 0px -10px 5px rgba(128, 128, 128, 0.3);
}

.contactos{
    display: flex;
}

.redes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.redes h3{
    font-size: 25px;
}

.container-email-telf{
    display: flex;
    justify-content: center;
    align-items: center;
}

.email, .telf{
    margin: 0 15px 0;
}

.copy{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

footer img{
    width: 40px;
    height: 40px;
    margin: 7px;
}

/* Telefonos */
@media (max-width: 500px){
    header{
        height: 8vh;
    }

    .iconMenu{
        display: block;
    }

    .button-list{
        display: none;
    }

    .container-logoTitulo a{
        font-size: 25px;
    }

    main h1{
        font-size: 30px;
    }

    .row{
        display: flex;
        flex-direction: column;
    }

    .row .card{
        width: 75vw;
    }

    .card-body{
        flex-direction: column;
    }

    .card-body h5{
        font-size: 16px;
    }

    .group p{
        width: 250px;
    }

    .redes h3{
        font-size: 20px;
    }

    .container-email-telf{
        font-size: 13px;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .email, .telf{
        margin: 5px 0 5px;
    }

    .container-footer .copy{
        font-size: 13px;
    }
}